<div class="page-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-left indent">
          <br>
          <p>Gaijin Explorer is a project to primarily serve as an excuse to learn new technologies and frameworks.
            The idea being to create a simple manga reading application using a given technology/framework.
            Thankfully this is made possible to <a href="https://www.mangaeden.com/eng/">Manga Eden</a> and their free API (BTW go support them they are awesome!)
          </p>
          <p>All of the Gaijin Explorer projects are publically availible and open-sourced under the MIT licence.
            This means that you can download the download the code to learn from or use in your own project.
            You can find all of the Gaijin Explorer projects at my <a href="https://github.com/diltdicker?tab=repositories">Github</a>.
          </p>
          <p>So go have fun and explore the site.
            I will periodically update this website as well as my <a href="https://dillondickerson.com">blog</a>.
            If you encounter bugs or have a new feature request for any of the projects, use Github's issue system (or compain about it in the comments section cuz you're lazy, cuz I <i>totally</i> read people's comments).
          </p>
        </div>
    </div>
  </div>
</div>
